



@media screen and (max-width: 1099px) {
    .menu{
        display: none;
    }
    .button-group{
        display: none;
    }
    .navbar-toggler{
        display: block;

    }
    #logoImg{
        margin-left: 5px;
        width: 55px;
    }
    
    .cover{
        filter: blur(2px)   
      }
    .text-notifi{
        font-size: 10px;
    }
    .new-learn-title-text{
        font-size: 10px;
    }
    .button-more{
        font-size: 10px;
    }
    .link-new-learn{
        margin-top: 1px;
    }.card-text{
        font-size: 12px;
    }
    .card-title{
        font-size: 17px;
    }.card-header{
        font-size: 17px;
    }.card-text{
        font-size: 11px;
    }
    .footer-text{
        margin-top: -20px;
        font-size: 15px;
        margin-bottom: 15px;
    }#txtSearch{
        font-size: 16px;
    }.search-icon{
        font-size: 16px;
    }
    .logo{
        width: 50px;
    }
}
@media screen and (min-width: 1100px){
    .navbar-toggler{
        display: none;

    }
    #txtSearch{
        font-size: 22px;
    }.search-icon{
        font-size: 22px;
    }
    .button-group{
        display: flex;
    }
    #logoImg{
        margin-left: 35px;
    }
    .cover{
        filter: blur(4px);
    }
    .logo{
        width: 60px;
    }
}

@media screen and (max-width: 540px){
    .seekbar {
      width: 100%;
    }.seekbar2{
        width: 100%;
    }


}@media screen and (min-width: 540px){
    .seekbar{
        width: 300px;
    }.seekbar2{

        width: 300px;
    }
}@media screen and (max-width:950px){
    .slide{
margin-top: 60px;
    }
}


@media screen and (min-width: 425px){
    
    .java{
        margin-right: 40px;
    }
    .css{
        margin-right: 40px;
    }
}



@media screen and (min-width: 1170px){

    .react{
        margin-right: 0px;
    }

}