
.button-play{



    font-size: 18px;
    padding: 8px 16px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #e2bb58;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 1s all;
  margin-left: 20px;
  margin-top: -20px;
}.button-play:hover{
  
}
.play-pause{
    top: 50px;
    width: 70px;
    
}
